In [18]:
import sqlite3
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import pylab as plt
from collections import Counter
import datetime

%matplotlib notebook

# flag to control where data is loaded to
mode = 'sqlite3'

# sqlite stuff
if mode == 'sqlite3':
    import sqlite3
    conn = sqlite3.connect("../../data/sepsis.db")
    cursor = conn.cursor()
elif mode == 'psycopg2': # alternatively use postgresql
    import psycopg2
    connect_str = "dbname='sepsis' user='sepsis' host='localhost' " + \
                  "password='sepsis'"
    conn = psycopg2.connect(connect_str)
    cursor = conn.cursor()

qlog_conn = sqlite3.connect('../../data/kfp_log.db')
q_cursor = qlog_conn.cursor()

start = datetime.datetime.now()
# because names are created as case sensistive in postgres, must be quoted...
# should probably fix that...
sql = '''
SELECT d."SubjectId",
    d."EncounterId",
    d."Source",
    -- d.StartDate,
    d."Code",
    d."Type",
     MAX("FlowsheetValue") AS MaxScore,
     AVG("FlowsheetValue") AS MeanScore,
     MIN("FlowsheetValue") AS MinScore,
     COUNT("FlowsheetValue") AS NumLoggedScores
 FROM diagnoses d
 LEFT JOIN flowsheet f
 ON d."EncounterId" = f."EncounterId"
 GROUP BY d."SubjectId", d."EncounterId", d."Source", d."Code", d."Type"
 ORDER BY NumLoggedScores DESC
 limit
'''

#sql = 'SELECT subjectid, encounterid, source, code, type FROM "diagnoses" limit 100'


#df = pd.read_sql(sql,conn, index_col=['SubjectId', 'EncounterId'])
#   df = pd.read_sql(sql,conn)
#df['StartDate'] = df['StartDate'].astype('datetime64')
# print(df.dtypes)
# print('Elapsed time:', datetime.datetime.now() - start)
# df.head()

# sqlite - 42 to 60 seconds
# postgres - 29 seconds

In [14]:
def show_timings(df):
    q = pd.read_sql("SELECT * FROM kfp_log order by fauxify_end",qlog_conn)
    print('Method used     :', q.tail(1)['faux_method'].iloc[0])
    print('Time for query  :', (pd.to_datetime(q.tail(1)['query_end']) - pd.to_datetime(q.tail(1)['query_start'])).iloc[0])
    print('Time for fauxify:', (pd.to_datetime(q.tail(1)['fauxify_end']) - pd.to_datetime(q.tail(1)['fauxify_start'])).iloc[0])
    print('Size of dataset :', len(df), 'rows')

In [15]:
from importlib import reload
from kungfauxpandas import KungFauxPandas, TrivialPlugin, DataSynthesizerPlugin, KDEPlugin
kfpd = KungFauxPandas()

In [20]:
kfpd.plugin = TrivialPlugin()
for n in ['10', '100', '1000', '10000']:
    fdf=kfpd.read_sql(sql + n,conn)
    show_timings(fdf)

fdf.head()

Method used     : TrivialPlugin
Time for query  : 0 days 00:00:00.670517
Time for fauxify: 0 days 00:00:00.000025
Size of dataset : 10 rows
Method used     : TrivialPlugin
Time for query  : 0 days 00:00:00.723215
Time for fauxify: 0 days 00:00:00.000007
Size of dataset : 100 rows
Method used     : TrivialPlugin
Time for query  : 0 days 00:00:00.668223
Time for fauxify: 0 days 00:00:00.000007
Size of dataset : 1000 rows
Method used     : TrivialPlugin
Time for query  : 0 days 00:00:00.695884
Time for fauxify: 0 days 00:00:00.000008
Size of dataset : 5351 rows

,SubjectId,EncounterId,Source,Code,Type,MaxScore,MeanScore,MinScore,NumLoggedScores
0,40552133,288,Encounter,A4152,ICD-10-CM,100.0,30.808878,0.0,294
1,83299697,625,Encounter,A414,ICD-10-CM,100.0,31.647179,0.0,286
2,96360391,985,Encounter,A400,ICD-10-CM,100.0,33.231212,0.0,278
3,43551783,984,Encounter,A392,ICD-10-CM,98.0,33.647131,0.0,272
4,92110570,934,Encounter,A4151,ICD-10-CM,99.0,33.074041,0.0,256

In [22]:
kfpd.plugin = DataSynthesizerPlugin()
#fdf=kfpd.read_sql(sql,conn, index_col=['SubjectId', 'EncounterId'])
fdf=kfpd.read_sql(sql + ' 10',conn)#, fauxify = {'categorical_attributes' : {'Source' : True}})
fdf.head()

#fdf=kfpd.read_sql(sql,conn, index_col=['SubjectId', 'EncounterId'])
#fdf=kfpd.read_sql(sql,conn, fauxify = {'categorical_attributes' : {'Source' : True}})
#df=pd.read_sql(sql + ' 10',conn)
#fdf = kfpd.plugin.fauxify(df)#, categorical_attributes = {'Source' : True, 'Code': True, 'Type': True})
fdf.head()

Skipping read from csv and returing the input data frame
================== Constructing Bayesian Network ==================
Looking for next attribute-parents pair.
    Considering attribute MinScore
    Considering attribute MaxScore
    Considering attribute Type
    Considering attribute Source
Looking for next attribute-parents pair.
    Considering attribute MinScore
    Considering attribute MaxScore
    Considering attribute Type
Looking for next attribute-parents pair.
    Considering attribute MinScore
    Considering attribute MaxScore
Looking for next attribute-parents pair.
    Considering attribute MaxScore
========================= BN constructed =========================
kungfauxpandas.read_sql() exception while attempting to fauxify data: Length of values does not match length of index

ValueError: Length of values does not match length of index

In [7]:
kfpd.plugin = KDEPlugin()
for n in ['10', '100', '1000', '10000']:
    fdf=kfpd.read_sql(sql + n,conn)
    show_timings(fdf)

Processing column SubjectId as a int64
Processing column EncounterId as a int64
Processing column Source as a object
Processing column Code as a object
Processing column Type as a object
Processing column maxscore as a float64
Processing column minscore as a object
Processing column numloggedscores as a int64
Method used     : KDEPlugin
Time for query  : 0 days 00:00:29.382304
Time for fauxify: 0 days 00:00:00.314669
Size of dataset : 10 rows
Processing column SubjectId as a int64
Processing column EncounterId as a int64
Processing column Source as a object
Processing column Code as a object
Processing column Type as a object
Processing column maxscore as a object
Processing column minscore as a object
Processing column numloggedscores as a int64
Method used     : KDEPlugin
Time for query  : 0 days 00:00:31.511094
Time for fauxify: 0 days 00:00:00.006992
Size of dataset : 100 rows
Processing column SubjectId as a int64
Processing column EncounterId as a int64
Processing column Source as a object
Processing column Code as a object
Processing column Type as a object
Processing column maxscore as a object
Processing column minscore as a object
Processing column numloggedscores as a object
Method used     : KDEPlugin
Time for query  : 0 days 00:00:31.280220
Time for fauxify: 0 days 00:00:00.025804
Size of dataset : 1000 rows

In [8]:
fdf

,SubjectId,EncounterId,Source,Code,Type,maxscore,minscore,numloggedscores
0,47813182,60086,Encounter,A4152,ICD-10-CM,100.000000,0.0,198
1,76765512,71737,Encounter,A413,ICD-10-CM,99.646631,0.0,220
2,94573700,94551,Encounter,K8592,ICD-10-CM,99.000000,0.0,222
3,95611412,55704,Encounter,A4150,ICD-10-CM,96.000000,0.0,218
4,72305258,90022,Encounter,A408,ICD-10-CM,100.000000,0.0,212
5,15933287,29783,Encounter,P364,ICD-10-CM,100.000000,0.0,262
6,27924017,91407,Encounter,P368,ICD-10-CM,100.000000,0.0,218
7,79250704,75877,Encounter,P360,ICD-10-CM,100.000000,0.0,254
8,74752671,25205,Encounter,A427,ICD-10-CM,97.000000,0.0,210
9,80799905,90734,Encounter,R6521,ICD-10-CM,99.000000,0.0,222
10,94574972,50315,Encounter,A4102,ICD-10-CM,100.000000,0.0,220
11,53785304,67302,Encounter,B007,ICD-10-CM,99.000000,0.0,222
12,9393865,86433,Encounter,A403,ICD-10-CM,100.000000,0.0,230
13,64703019,17226,Encounter,A413,ICD-10-CM,100.000000,0.0,238
14,19413373,21985,Encounter,A401,ICD-10-CM,100.000000,0.0,244
15,2964007,69262,Encounter,P368,ICD-10-CM,100.000000,0.0,220
16,101438830,59220,Encounter,A4102,ICD-10-CM,100.000000,0.0,212
17,-5565724,55162,Encounter,R6521,ICD-10-CM,98.000000,0.0,192
18,76310220,92287,Encounter,P362,ICD-10-CM,100.000000,0.0,198
19,12161851,47545,Encounter,A4150,ICD-10-CM,99.000000,0.0,232
20,24895584,3497,Encounter,A4102,ICD-10-CM,100.000000,0.0,204
21,88404003,46733,Encounter,A413,ICD-10-CM,94.914718,0.0,200
22,64007516,72450,Encounter,A408,ICD-10-CM,99.000000,0.0,212
23,30107341,74793,Encounter,P369,ICD-10-CM,100.000000,0.0,256
24,81058393,65716,Encounter,A5486,ICD-10-CM,100.000000,0.0,244
25,57927814,84488,Encounter,R6511,ICD-10-CM,97.000000,0.0,258
26,58094036,76156,Encounter,A392,ICD-10-CM,100.000000,0.0,266
27,16610534,73634,Encounter,A483,ICD-10-CM,98.277264,0.0,216
28,13659803,26834,Encounter,P3619,ICD-10-CM,100.000000,0.0,220
29,36273193,60758,Encounter,A401,ICD-10-CM,99.000000,0.0,282
...,...,...,...,...,...,...,...,...
970,2131896,58662,Encounter,A392,ICD-10-CM,96.000000,0.0,292
971,90182153,9918,Encounter,A427,ICD-10-CM,99.000000,0.0,214
972,-1170059,18252,Encounter,R571,ICD-10-CM,100.000000,0.0,272
973,51480301,96766,Encounter,A403,ICD-10-CM,100.000000,0.0,194
974,64067759,99317,Encounter,A483,ICD-10-CM,98.000000,0.0,268
975,27205808,66854,Encounter,P364,ICD-10-CM,98.000000,0.0,214
976,78301024,85396,Encounter,A394,ICD-10-CM,97.000000,0.0,220
977,60661401,41331,Encounter,T8112XA,ICD-10-CM,100.000000,0.0,192
978,40212637,89957,Encounter,R6510,ICD-10-CM,100.000000,0.0,266
979,47938413,61592,Encounter,A327,ICD-10-CM,99.000000,0.0,202
980,99639804,42794,Encounter,A394,ICD-10-CM,99.000000,0.0,220
981,11246006,88057,Encounter,A409,ICD-10-CM,99.000000,0.0,268
982,78790339,102543,Encounter,P368,ICD-10-CM,100.000000,0.0,228
983,93215234,1429,Encounter,A4102,ICD-10-CM,100.000000,0.0,234
984,38769138,69701,Encounter,A427,ICD-10-CM,99.000000,0.0,274
985,34322980,46192,Encounter,A4151,ICD-10-CM,100.000000,0.0,292
986,58686862,72077,Encounter,P360,ICD-10-CM,100.000000,0.0,272
987,4199732,64797,Encounter,R578,ICD-10-CM,99.000000,0.0,194
988,70653986,61778,Encounter,T8112XA,ICD-10-CM,98.078621,0.0,192
989,30755120,83957,Encounter,A5486,ICD-10-CM,99.000000,0.0,206
990,45967183,39084,Encounter,A413,ICD-10-CM,95.000000,0.0,188
991,26267215,92888,Encounter,B007,ICD-10-CM,99.000000,0.0,260
992,89852326,94504,Encounter,A394,ICD-10-CM,100.000000,0.0,224
993,52289978,96591,Encounter,A021,ICD-10-CM,100.000000,0.0,246
994,90020123,14110,Encounter,A414,ICD-10-CM,100.000000,1.0,220
995,9133753,83800,Encounter,R578,ICD-10-CM,100.000000,0.0,218
996,83828443,73637,Billing,A4101,ICD-10-CM,99.000000,0.0,212
997,47083642,82459,Encounter,A412,ICD-10-CM,99.000000,0.0,264
998,76257929,43835,Encounter,R6520,ICD-10-CM,99.000000,0.0,270
999,85242248,30199,Encounter,A4151,ICD-10-CM,97.000000,0.0,210

In [ ]:
col = 'Code'
out_dict = dict()

colfact = df[col].factorize()
cc=Counter(colfact[0])
 
# convert from counts to proportions

for key in cc:
     cc[key] = cc[key] / len(df)

fakes = choice(elements,p=weights, replace=True, size=len(df))

out_dict[col] = [colfact[1][xx] for xx in fakes]

In [ ]:
len(cc.values()), len(df), len(cc)/len(df)

In [ ]:
col = 'Code'
out_dict = dict()

colfact = df[col].factorize()
cc=Counter(colfact[0])
 
# convert from counts to proportions

for key in cc:
     cc[key] = cc[key] / len(df)

fakes = choice(elements,p=weights, replace=True, size=len(df))

out_dict[col] = [colfact[1][xx] for xx in fakes]
#out_dict

In [ ]:
col = 'SubjectId'
kd = stats.gaussian_kde(df[col], bw_method='silverman')
out_dict[col]=np.int64(kd.resample()[0])

In [ ]:
df.head()

In [ ]:
pd.crosstab(df.Codeode, df.squishcode)

In [ ]:
np.corrcoef(df.Code, df.squishcode)

In [ ]:
sdf = df.sample(50000)
for thiscol in sdf.columns:
    if sdf[thiscol].dtype=='object':
        print('Converting column ', thiscol)
        sdf[thiscol] = sdf[thiscol].factorize()[0]
    
#np.cov(sdf)

In [ ]:
cc = np.corrcoef(sdf.transpose())
#cc = np.cov(sdf.transpose())
#cc[5,1]
plt.imshow(cc,cmap='inferno')
plt.colorbar()

In [ ]:
#sdf.head()
#help(np.correlate)
df.iloc[3]

In [ ]:
from statsmodels.nonparametric import kernel_density as kd

In [ ]:
woo = kd.KDEMultivariate(np.array(sdf.iloc[:,[2,4,9]]), var_type=3*'u')
#help(kd.KDEMultivariate)

In [ ]:
np.array(data=sdf.sample(2000).iloc[:,[2,4,9]])

In [ ]:
xx = range(40)
bb = list(itertools.product(xx,xx,xx))

In [ ]:
np.array(sdf.iloc[2]).shape

In [ ]:
from scipy.optimize import fsolve
import statsmodels.api as sm
import numpy as np

# fit
kde = woo#sm.nonparametric.KDEMultivariate()  # ... you already did this

# sample
u = np.random.random()

# 1-d root-finding
def func(x):
    return kde.cdf([x]) - u
#sample_x = brentq(func, -99999999, 99999999)  # read brentq-docs about these constants
                                              # constants need to be sign-changing for the function

In [ ]:
#u = np.random.random()
#u
#sample_x = brentq(func, -99999999, 99999999)

In [ ]:
def func(x):
    return kde.cdf([x]) - u

x0=[92,4,5,3,6,7,8,9,10,11]

In [ ]:
from scipy.optimize import minimize
darf = minimize(func,np.array(x0))
print(darf)

In [ ]:
x0, func(x0)

In [ ]:
func([0,0,0,0,0,3,0,0,0,0])

In [ ]:
bork = np.mgrid[0:10,0:10, 0:10]

In [ ]:
xx = range(4)

import itertools
ins = list(itertools.product(xx,xx,xx,xx,xx,xx,xx,xx,xx,xx))

vals = [func(i) for i in ins[1004:2004]]
func(ins[1004:2004])

In [ ]:
func(bork[32532])

In [ ]:
u

In [ ]:
#kde.cdf(bork[9000:10000])
func(x0)

In [ ]:
list(bork[0])

In [ ]:
x0

In [ ]:
import statsmodels.api as sm
nobs = 300
np.random.seed(1234)  # Seed random generator
c1 = np.random.normal(size=(nobs,1))
c2 = np.random.normal(2, 1, size=(nobs,1))
  
#Estimate a bivariate distribution and display the bandwidth found:
   
#dens_u = sm.nonparametric.KDEMultivariate(data=[c1,c2], var_type='cc', bw='normal_reference')
#dens_u.bw

woo = sm.nonparametric.KDEMultivariate(data=sdf.iloc[:,[2,4,9]], var_type=3*'u')

In [ ]:
woo.cdf()

In [ ]:
len(sdf)

In [ ]:
len(set(sdf.iloc[:,9]))

In [ ]:
np.corrcoef(sdf.iloc[:,[2,9]])