In [ ]:
import pandas as pd
import glob
import os
import os.path as op

pd.set_option('display.width', 100)

# sqlite used by default
#import sqlite3
#conn = sqlite3.connect("../../data/large_sepsis.db")
#cursor = conn.cursor()

# alternatively use postgresql
from sqlalchemy import create_engine
conn = create_engine('postgresql://sepsis:sepsis@localhost:5432/sepsis')

In [ ]:
# Load data from csv into sqlite database
csv_path = op.join(os.getcwd(), '..', '..', 'data', 'fake_sepsis_data')

for file in glob.glob(op.join(csv_path, "*.csv")):
    print('Reading', file)
    df = pd.read_csv(file)
    # First column should be unnamed... if not, there's a problem
    if (df.columns[0] == 'Unnamed: 0'):
        df.drop('Unnamed: 0', axis=1, inplace=True)
    else:
        print('   --- Check Data File')
    filename, fileextension = op.splitext(file)
    filename = op.basename(filename)
    df.to_sql(filename, conn, if_exists='replace', index=False)
    print('Saved', filename, 'to database')

# create test record to see if outlier can be detected
cursor.execute("""
INSERT INTO admission (
    "SubjectId",
    "EncounterId",
    "DOB",
    "Sex",
    "Race",
    "Ethnicity",
    "FirstHeightInInches",
    "FirstWeightInOunces",
    "AdmittingDepartmentName",
    "AdmissionDateTime",
    "FinancialClass",
    "AdmissionType",
    "AdmissionSource",
    "PatientClass",
    "AdmittingService",
    "PrincipalProblem",
    "PrimaryCodedDx",
    "DischargeDateTime",
    "DischargeDisposition",
    "HospitalService" )
VALUES (
    123456789,                -- SubjectId,
    123456789,                -- EncounterId,
    '1800-01-01',             -- DOB
    'M',                      -- Sex
    'White',                  -- Race
    'Not Hispanic or Latino', -- Ethnicity
    216,                      -- FirstHeightInInches
    44800,                    -- FirstWeightInOunces
    'MHC SURG TRAUMA UNIT',   -- AdmittingDepartmentName
    '2017-12-01',             -- AdmissionDateTime
    'insurance',              -- FinancialClass
    'Emergency',              -- AdmissionType
    'Unspecified',            -- AdmissionSource
    'inpatient',              -- PatientClass
    'surgery',                -- AdmittingService
    'patient reported text',  -- PrincipalProblem
    'E220',                   -- PrimaryCodedDx
    '2018-01-01',             -- DischargeDateTime
    'home',                   -- DischargeDisposition
    'surgery'                 -- HospitalService
    );""")
conn.commit()

cursor.execute("SELECT count(1) FROM admission")
cursor.fetchall()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
for c in tables:
    cursor.execute("SELECT sql FROM sqlite_master WHERE name='" + c[0] + "'")
    print(cursor.fetchall()[0][0])

In [ ]:
df1 = pd.read_sql("""
select SubjectId, encounterid, sex, race, FirstHeightInInches, FirstWeightInOunces from
admission
where FirstHeightInInches > 80 and
      FirstWeightInOunces > 8000
order by FirstHeightInInches desc, FirstWeightInOunces desc
""", conn)

df2 = pd.read_sql("""
select SubjectId, encounterid, sex, race, FirstHeightInInches, FirstWeightInOunces from
admission
where FirstHeightInInches > 107 and
      FirstWeightInOunces > 8000
order by FirstHeightInInches desc, FirstWeightInOunces desc
""", conn)

df3 = pd.read_sql("""
select distinct PrimaryCodedDx from admission
where PrimaryCodedDx like 'e%'
order by PrimaryCodedDx
""", conn)

df4 = pd.read_sql("""
select * from admission
order -- test
by DOB asc, sex, FirstHeightInInches desc
limit 5
""", conn)

df5 = pd.read_sql("""
select * from admission
order -- test
by random() -- keep this?
""", conn)

df3